@using FysioApp.Utility
@using System.Security.Claims;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FysioApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FysioApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole(StaticDetails.TeacherEndUser) || User.IsInRole(StaticDetails.StudentEndUser))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="Teachers" asp-action="Index">Docenten</a>
                                    <a class="dropdown-item" asp-controller="Students" asp-action="Index">Studenten</a>
                                    <a class="dropdown-item" asp-controller="Patients" asp-action="Index">Patienten</a>
                                    <a class="dropdown-item" asp-controller="Appointments" asp-action="Index">Afspraken</a>
                                    <a class="dropdown-item" asp-controller="PatientFiles" asp-action="Index">Dossiers</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole(StaticDetails.PatientEndUser))
                        {
                            var claimsIdentity = (ClaimsIdentity)this.User.Identity;
                            var userId = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier).Value;

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Appointments" asp-action="Index">Mijn Afspraken</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="PatientFiles" asp-action="MyDetails" asp-route-id="@userId">Mijn Dossier</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - FysioApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
